alias venv="export PYTHONPATH=.; source venv/bin/activate"

alias vi="$which vim"
alias ls="la -lah"
alias psaux="ps aux"
alias zshrc="vim $HOME/dotfiles/.zshrc"
alias path="echo $PATH"
alias home="echo $HOME"
alias pubkey="more ~/.ssh/id_rsa.pub | pbcopy | echo '=> Public key copied to pasteboard.'"
alias openssl="/usr/local/opt/openssl/bin/openssl"
alias personal='git commit --author="Cindy Sridharan <cindysridharan+github@gmail.com>" -m'

alias master="git checkout master; git pull origin master"
alias ck="git checkout"
alias rebase="git rebase -i"
alias add="git add"
alias push="git push origin"
alias status="git status -sb"
alias wip="git add -u && git commit -m ..."
alias new="git checkout -b"

alias sb="$HOME/code/swift-package-manager/.build/x86_64-apple-macosx10.10/debug/swift-build --enable-build-manifest-caching"
alias sp="$HOME/code/swift-package-manager/.build/x86_64-apple-macosx10.10/debug/swift-package"
alias spx="$HOME/code/swift-package-manager/.build/x86_64-apple-macosx10.10/debug/swift-package generate-xcodeproj"
alias sr="$HOME/code/swift-package-manager/.build/x86_64-apple-macosx10.10/debug/swift-run --enable-build-manifest-caching"
alias st="$HOME/code/swift-package-manager/.build/x86_64-apple-macosx10.10/debug/swift-test --enable-build-manifest-caching"
alias xcode="swift package generate-xcodeproj"
alias update="swift package update"
