alias mongoexport="/usr/local/bin/mongodb/bin/mongoexport"
alias blacktip_container="docker ps -a | grep blacktip"
alias nsq="docker ps -a | grep nsq"
alias clean="docker rm $(docker ps -a | awk '{if(NR>1)print $1}')"
alias sjc1="ssh-add; ssh sjc1"
alias mongo="/usr/local/bin/mongodb/bin/mongo"
alias venv="export PYTHONPATH=.; source venv/bin/activate"
alias estuary="cd /Users/cindysridharan/go/src/github.com/zebrafishlabs/estuary"

alias 
alias psaux="ps aux"
alias zshrc="sublime ~/.zshrc"
alias ohmyzsh="sublime ~/.oh-my-zsh"
alias path="echo $PATH"
alias home="echo $HOME"
alias pubkey="more ~/.ssh/id_rsa.pub | pbcopy | echo '=> Public key copied to pasteboard.'"
alias ossl="/usr/local/opt/openssl/bin/openssl"

alias master="git checkout master; git pull origin master"
alias ck="git checkout"
alias rebase="git rebase -i"
alias add="git add"
alias status="git status -sb"
alias wip="git add -u && git commit -m ..."
alias new="git checkout -b"

alias blacktip="cd /Users/cindysridharan/Imgix/blacktip"
alias dotfiles="cd /Users/cindysridharan/dotfiles"
