alias venv="export PYTHONPATH=.; source venv/bin/activate"

alias vi="$which vim"
alias ls="la -lah"
alias psaux="ps aux"
alias zshrc="vim ~/.zshrc"
alias ohmyzsh="vim ~/.oh-my-zsh"
alias path="echo $PATH"
alias home="echo $HOME"
alias pubkey="more ~/.ssh/id_rsa.pub | pbcopy | echo '=> Public key copied to pasteboard.'"
alias openssl="/usr/local/opt/openssl/bin/openssl"
alias personal='git commit --author="Cindy Sridharan <cindysridharan+github@gmail.com>" -m'

alias master="git checkout master; git pull origin master"
alias ck="git checkout"
alias rebase="git rebase -i"
alias add="git add"
alias status="git status -sb"
alias wip="git add -u && git commit -m ..."
alias new="git checkout -b"
alias dotfiles="cd $HOME/dotfiles"
